doctype html
html(lang="en")
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1.h1 Welcome to Side Notes
      p
        strong Thank you for registering: 
        br
        | A request for a new account has been requested from 
        br
        | In order to verify your email your account will be inactive until you check on the link below.
        br
        | This link will expire in 30 days.
        br
        a(href=mylink) Activate Account Now
      